# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Go binary files
bin
*.exe
*.exe~
*.test
*.out
*.dylib

# Compiled Golang packages
*.pkg

# Output of the go coverage tool
*.cover

# Output of the go tool trace
*.trace

# Go coverage profile
*.prof

# Binary file for Go source
*.bin

# Vendor directory
/vendor/

# Environment file
# .env.*

.certs/
!.certs/openssl.conf

config/volumes/